body {
	background-color: #9999FF;
	font-family: Verdana, geneva, Arial, Helvetica, sans-serif;
	margin: 0px;
}

div.sidebox{
	border-style: solid;
	border-width: 4px;
	border-color: #003399;
	width: 160px;
	margin: 10px;
	background: white;
}
div.sidebox h1 {
	background-color: #003399;
	font-size: 15pt;
	color: white;
	margin: 0px;
	text-align: center;
}
div.sidebox p {
	margin: 10px;
}